$second-theme-color: rgb(4, 255, 138);

body
{
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 0;
    margin: 50px auto 10px auto;
    background-image: url("../img/background_gray.jpg");
    background-size: 2000px auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 1000px;
    text-align: center;
    display: block;
   
}
.container
{
    background-color: rgba(0, 0, 0, 0.43);
}

#my-photo
{
   width: 150px;
   height: auto; 
}
.general-info-box
{
    display: inline-block;
    margin: 0 10px 0 10px;
}
.to-hide
{
    max-height: 0;
    overflow: hidden;
    transition: 1s;
    margin: 0px auto;
    width: 80%;
}
hr
{
    border: 0px gray dashed;
    border-top: 3px gray dashed;
}
table tbody tr td
{
    margin: 0 0 0 50px;
    display: inline-block;
    width: 250px;
}
table tbody tr
{
        display: inline-block;
}
table tbody tr:nth-child(even)
{
    border-bottom: 1px solid gray;
}
table tbody tr:last-child
{
    border-bottom: 0;
}
img{
    margin-top: 50px;
}
h4
{
    background-color: rgba(0, 0, 0, 0.43);
    width: auto;
    margin: 0;
    padding: 30px;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
}
h4:hover{
    color: $second-theme-color;
}
ul
{
    list-style: none;
}
.progress-background{
    width: 250px;
    height: 30px;
    background-color: rgb(97, 97, 97);
    
}
.progress-bar
{
    background: linear-gradient(to right,rgb(53, 53, 53),$second-theme-color);
    width: 50%;
    height: 100%;
    text-align: left;
    vertical-align: middle;
    line-height: 30px;
}
.progress-text
{
    margin-left: 10px;
}
.skills table
{
   
    margin: 0px 0 25px 0;
    
}
.skill_text
{
    max-height: 0;
    overflow: hidden;
    transition: 1s;
}
.skills
{
    margin: 25px;
}
.skill_text table tbody tr:nth-child(even)
{
    border-bottom: 0 solid gray;    
}
.star-checked
{
    color: $second-theme-color;
}

